name: Test & Lint

on: push

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2
    - name: Set up Python 3.8
      uses: actions/setup-python@v2
      with:
        python-version: 3.8
    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install -r requirements.txt
    - name: Lint with isort
      run: |
        isort --profile black .
    - name: Lint with Black
      run: |
        black . --check -l 120
    - name: Run unit tests with pytest
      run: |
        pytest